/* ----------------- reset ---------------------> */
* {
    box-sizing: border-box;
}

.app ul,
.app li {
    list-style: none;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
a {
    font-weight: 300;
}

.actions-container {
    margin: 20px 0;
}

a {
    text-decoration: none;
}

input {
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 10px;
    outline: none;
    border: 1px solid #ccc;
}

input:focus {
    border: 1px solid #1e81ce;
}

/* --------------------- overwrite ------------> */

.md-text.content {
    overflow: visible;
}
.l_body {
    grid-template-columns: 1fr;
}

#comments,
.l_body .l_left,
.l_right,
.banner.top,
.page-footer,
.float-panel {
    display: none;
}

article.content {
    padding-bottom: 0;
}

footer.page-footer {
    margin: 0 20px;
}

/* ---------------- utils ----------------> */
.hide, .debug-hide {
    display: none !important;
}
.debug-info {
    display: none;
}
.debug-show {
    display: block !important;
}
.shrink0 {
    flex-shrink: 0 !important;
}

.shrink1 {
    flex-shrink: 1 !important;
}

.shrink2 {
    flex-shrink: 2 !important;
}

.shrink3 {
    flex-shrink: 3 !important;
}

.bg-grey {
    background: #f3f3f3;
}
.bg-white {
    background: white;
}

.br-3 {
    border-radius: 3px;
}

.br-4 {
    border-radius: 4px;
}

.br-5 {
    border-radius: 5px;
}

.w-full {
    width: 100%;
}
.minw-100 {
    min-width: 100px;
}

.minw-150 {
    min-width: 150px;
}

.minw-200 {
    min-width: 200px;
}

.of-h {
    overflow: hidden;
}

.va-m {
    vertical-align: middle;
}

.pointer {
    cursor: pointer;
}

.hide {
    display: none;
}

.dis-ib {
    display: inline-block;
}

.dis-i {
    display: inline;
}

.grey {
    color: #888 !important;
}
.purple {
    color: #b613dc !important;
}
.blue {
    color: #0088ff !important;
}

.green {
    color: darkgreen !important;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex1 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex0 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.gap0 {
    gap: 0 !important;
}

.gap-10 {
    gap: 10px !important;
}

.gap-20 {
    gap: 20px !important;
}

.gap-30 {
    gap: 30px !important;
}

.f-serif {
    font-family: 'serif';
}
.m-auto {
    margin: auto;
}

.ta-c {
    text-align: center;
}

.ta-r {
    text-align: right;
}

.ta-l {
    text-align: left;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-50 {
    margin-top: 50px;
}

.ml-5 {
    margin-left: 5px;
}
.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}
.ml-30 {
    margin-left: 30px;
}
.ml-40 {
    margin-left: 40px;
}

.ml-50 {
    margin-left: 50px;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}
.mr-40 {
    margin-right: 40px;
}
.mr-50 {
    margin-right: 50px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}
.mb-50 {
    margin-bottom: 50px;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;

}


.fw-600 {
    font-weight: 600;
}

.f12 {
    font-size: 12px!important;
}

.f13 {
    font-size: 13px!important;
}

.f14 {
    font-size: 14px!important;
}

.f15 {
    font-size: 15px!important;
}

.f16 {
    font-size: 16px!important;
}

.f17 {
    font-size: 17px!important;
}

.f18 {
    font-size: 18px!important;
}

.f19 {
    font-size: 19px!important;
}

.f20 {
    font-size: 20px!important;
}

.f25 {
    font-size: 25px!important;
}

.f30 {
    font-size: 30px!important;
}

.pos-r {
    position: relative;
}

.pos-a {
    position: absolute;
}

.lfade-enter-active,
.rfade-enter-active {
    transition: all 0.5s linear;
}

.lfade-enter {
    opacity: 0;
    transform: translateX(500px) scale(0.3);
}

.lfade-leave-active {
    transition: all 0.5s linear;
    transform: translateX(-500px) scale(0.3);
}

.rfade-enter {
    opacity: 0;
    transform: translateX(-500px) scale(0.3);
}

.rfade-leave-active {
    transition: all 0.5s linear;
    transform: translateX(500px) scale(0.3);
}

.lfade-leave-to,
.rfade-leave-to {
    opacity: 0;
}

/* ----------- common ---------------> */

.app .myselect {
    padding: 0;
    min-height: 27px;
    line-height: 13px;
}

.app .myselect::before {
    content: '>';
    position: absolute;
    right: 10px;
    top: 8px;
    font-family: serif;
    font-weight: bolder;
    transform: rotate(90deg);
    color: black;
}
.app .myselect-view {
    padding: 4px 18px 4px 8px;
    font-weight: 400;
    width: 200px;
}
.app .myselect-tag {
    background: #ccc;
    padding: 3px 6px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.app .myselect-options {
    position: absolute;
    /* position: relative; */
    width: 100%;
    border: 0px solid #888;
    border-radius: 4px;
    padding: 0px;
    z-index: 9999;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.app .myselect.expand .myselect-options {
    max-height: 500px;
    border-width: 1px;
}

.app .myselect-options li {
    padding: 6px 14px;
    cursor: pointer;
    border-bottom: 1px solid #dadada;
}

.app .myselect-options li:hover {
    background: #0088ff;
    color: white;
}

.app .myselect-options li.selected {
    background: #0464b8;
    color: white;
}

.app .myselect-options li:last-child {
    border-bottom: none;
}

.app .myselect-options li.selected{
    font-weight: 400;
}
.app .myselect-options li.selected::before {
    content: '*';
    position: absolute;
    top: 10px;
    left: 5px;
}

.app .my-toast {
    max-width: 60%;
    padding: 5px 12px;
    line-height: 1.5;
    color: white;
    font-weight: 500;
    text-align: center;
    border-radius: 8px;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    left: 50%;
    /* top: 32px; */
    top: -132px;
    transform: translateX(-50%);
    z-index: 999;
    transition: top 0.4s ease-out;
    display: block;
}

.app .my-toast.show {
    display: block;
    top: 32px;
}

#app {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#app .user-info, #app .top-counter {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background: rgba(200, 200, 230, .6);
    padding: 2px 5px;
    border-radius: 3px 0 0 3px;
}

#app div.top-counter {
    right: auto;
    left: 0px;
    padding: 2px 10px;
    border-radius: 0 5px 5px 0;
}

#app .user-info .name {
    color: rgb(23, 161, 23);
}

#app>h1 {
    margin: 0;
}

@font-face {
    font-family: 'HFSimpleLife';
    src: url('HFSimpleLife.woff2') format('woff2'),
        url('HFSimpleLife.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.app .prev,
.app .next {
    /* font-family: serif, HFSimpleLife, monospace; */
    font-family: HFSimpleLife, monospace;
    font-style: normal;
    color: #999;
    background: none;
    font-size: 50px;
    position: absolute;
    padding: 20px 10px;
    top: 50%;
    transform: translateY(-50%) scaleY(2.5);
    left: -10px;
    cursor: pointer;
    z-index: 1000;
}

.app .prev:hover,
.app .next:hover {
    color: #333;
    /* background: #c1e0f6; */
}

.app .next {
    left: auto;
    right: -10px;
}

.ctrl-section {
    padding: 10px;
    max-height: 1000px;
    transition: max-height 0.5s ease;
}

.tag-bar .tag,
.font-bar button {
    display: inline-block;
    font-size: 13px;
    /* padding: 2px 6px; */
    padding: 6px;
    /* margin: 0 5px 2px 0; */
    margin: 8px;
    border-radius: 10px;
    background: #ccc;
    cursor: pointer;

}

.tag-bar .tag.primary {
    font-size: 15px;
    padding: 4px 8px;
}

.know-bar {
    margin-bottom: 10px;
}

.font-bar button:hover {
    background: #ccf;
}


.tag-bar .tag:hover {
    background: #cfc;

}

.tag-bar .tag.active {
    background: rgb(6, 161, 6);
    color: white;
}


.tag-bar .tag.primary:hover {
    background: #7dc6fd;

}
.tag-bar .tag.primary.active {
    background: #0088ff;
    color: white;
}

.app-main {
    flex: 1;
    /* overflow: hidden; */
}

h1 {
    font-size: 30px;
    text-align: center;
}

.action-btn a {
    color: #333;
}

.action-btn,
.op-btn {
    padding: 5px 10px;
    border-radius: 5px;
    background: #ddd;
    color: #333;
    border: 1px solid #ddd;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}

.app.mobile .action-btn {
    padding: 2px 5px;
    margin: 3px;
    font-size: 18px;
}

/* .op-btn + .op-btn {
    margin-left: 0;
} */
.op-btn.primary a,
button.primary a {
    color: white;
}

.action-btn:hover,
.op-btn:hover,
.op-btn-wrap:hover .op-btn {
    background: #eee;
    border-color: #eee;
}

.op-btn.primary,
button.primary {
    background: #0088ff;
    color: #fff;
    border-color: #0088ff;
}

.op-btn.primary:hover,
button.primary:hover,
.op-btn-wrap:hover .op-btn {
    background: #0464b8;
    border-color: #0464b8;
}

.op-btn.danger,
button.danger {
    background: #e00;
    color: #fff;
    border-color: #e00;
}

.op-btn.danger:hover,
button.danger:hover {
    background: #f00;
    border-color: #f00;
}

.op-btn {
    font-size: 16px;
}

/* ----------------------- admin ----------------> */
.admin {
    /* max-width: 500px; */
    max-width: auto;
}

.sticky-0 {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #f9fafb;
}


.sticky-50 {
    position: sticky;
    top: 50px;
    z-index: 100;
    background: #f9fafb;
}

article.md-text {
    padding: 0;
}

.admin .word-list {
    font-size: 15px;
}

.admin table.word-list th {
    font-weight: 400;
    font-size: 18px;
}

.admin table.word-list {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    min-height: 200px;
}

.admin table.word-list tr {
    border-bottom: 1px solid #ccc;
    display: table-row !important;
}

.admin table.word-list tr.disable {
    color: #bbb;
}

.admin table.word-list td,
.admin table.word-list th {
    /* border: 1px solid #ccc; */
}

.admin .word-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}


.admin .word-item:last-child {
    /* border-bottom: none; */
}

.admin .word-item .sn:after {
    /* content: "."; */
}

.admin .append-line, .admin .upload-line {
    padding: 0 10px;
}
.admin .append-line input {
    width: 180px;
}

/* ------------------ single -------------------> */
.app .collapse-bar {
    margin-bottom: 0px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 20px;
}
.app .collapse-bar .collapse-btn {
    /* color: coral; */
    transform: rotate(-90deg) scaleY(150%);
}
.app .collapse-bar.close-ctrl .collapse-btn {
    transform: rotate(90deg) scaleY(150%);
}
.app .collapse-bar.close-ctrl + .ctrl-section {
    max-height: 0;
    padding: 0;
    overflow: hidden;
}

.file-input {
    position: absolute;
    left: -200px;
    top: 0;
    width: 300px;
    height: 100%;
    opacity: 0;
    z-index: 10;
}

.card-list {
    min-height: 550px;
}


.go-btn {
    position: fixed;
    z-index: 10000;
    left: 20px;
    bottom: 120px;
    transform: rotate(-90deg);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    opacity: 0.8;
    line-height: 30px;
    font-size: 22px;
    font-weight: bold;
    background:#90d5dd;
    cursor: pointer;
    font-style: normal;
    font-family: serif;
}

.go-btn.bottom {
    bottom: 80px;
    transform: rotate(90deg);
}

@font-face {
    font-family: 'AaKaishupinyin';
    src: url('https://gitee.com/stephenykk/stephenykk.github.io/raw/master/source/study/AaKaishupinyin.woff2') format('woff2'),
        url('https://gitee.com/stephenykk/stephenykk.github.io/raw/master/source/study/AaKaishupinyin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AaWDXDNFAN';
    src: url('https://gitee.com/stephenykk/stephenykk.github.io/raw/master/source/study/AaWDXDNFANNon-CommercialUse.woff2') format('woff2'),
        url('https://gitee.com/stephenykk/stephenykk.github.io/raw/master/source/study/AaWDXDNFANNon-CommercialUse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'zihunShuxinti';
    src: url('https://gitee.com/stephenykk/stephenykk.github.io/raw/master/source/study/zihun104hao-shuxinti.woff2') format('woff2'),
        url('https://gitee.com/stephenykk/stephenykk.github.io/raw/master/source/study/zihun104hao-shuxinti.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'zihun81hao-qingfengti';
    src: url('https://gitee.com/stephenykk/stephenykk.github.io/raw/master/source/study/zihun81hao-qingfengti.woff2') format('woff2'),
        url('https://gitee.com/stephenykk/stephenykk.github.io/raw/master/source/study/zihun81hao-qingfengti.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AaHuayuziluolanyongheng';
    src: url('https://gitee.com/stephenykk/stephenykk.github.io/raw/master/source/study/AaHuayuziluolanyongheng.woff2') format('woff2'),
        url('https://gitee.com/stephenykk/stephenykk.github.io/raw/master/source/study/AaHuayuziluolanyongheng.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.card-con.font1 {
    font-family: 'AaWDXDNFAN', "cursive", fangsong, serif;
}

.card-con.font2 {
    font-family: 'zihun81hao-qingfengti', "cursive", fangsong, serif;
}

.card-con.font3 {
    font-family: 'zihunShuxinti', "cursive", fangsong, serif;
}

.card-con.font4 {
    font-family: 'AaHuayuziluolanyongheng', "cursive", fangsong, serif;
}

.card-con.font5 {
    font-family: 'AaKaishupinyin', "cursive", fangsong, serif;
}

.card-con {
    letter-spacing: -15px;
    line-height: 1.2;
    text-align: center;
    font-size: 330px;
    border: 20px solid beige;
    padding: 10px;
    background: white;
    border-radius: 30px;
}

.mobile .card-con {
    font-size: 250px;
}

.card-item-wrap {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;

}


/* -------------- multiple ---------------> */

.multiple-container .card-item-wrap {
    width: 90%;
}

.title-select, .myselect, .my-select {
    padding: 3px 6px;
    background: white;
    border-radius: 5px;
    border: 1px solid #0088ff;
    font-size: 13px;
    width: 200px;
    min-height: 30px;
}

.filter-btn {
    padding: 3px 10px;
    border-radius: 5px;
    background: #0088ff;
    color: white;
}

.know-bar .op-btn {
    padding: 2px 5px;
    font-size: 14px;
    margin: 0 5px 0;
}

.testing .card-item .chr::after {
    display: block;
}

.card-item .chr::after {
    display: none;
    content: "";
    width: 120%;
    height: 70%;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

aside {
    visibility: hidden !important;
}

.card-item.view-answer .chr::after {
    opacity: 0;
}

.app .minus-sign {
    height: 0;
    width: 8px;
    border-top: 1px solid #333;
    margin-right: 3px;
    transform: translateY(-5px);
}