/* hide other sections */
aside.l_left,
.l_main > .banner,
.l_right,
.float-panel,
.page-footer,
.l_main #comments {
    display: none !important;
}
.l_body {
    display: block !important;
    overflow-x: hidden;
}

/* --------------------------------- */

body {
    overflow-x: hidden;
}

.flex {
    display: flex;
    padding: 3px 0;
}

.fixed-right {
    position: fixed;
    z-index: 10000;
    top: 0px;
    right: 20px;
    opacity: 0.6;
    padding: 5px;
    background: #fff;
    border-radius: 4px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.hotpink {
    color: hotpink;
}

.blue {
    color: blue;
}

.ta-c {
    text-align: center;
}
.lh-2 {
    line-height: 2;
}

input {
    border: 1px solid #ccc;
    padding: 6px;
    border-radius: 3px;
    font-size: 16px;
}

input[readonly] {
    background: #eee;
}

.label {
    width: 150px;
    text-align: right;
    margin-right: 10px;
}


.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}

.label::after {
    content: ": ";
}

.month-table {
    table-layout: auto;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    /* min-width: 600px; */
}

.month-table.has-ahead {
    width: 1500px;
}

#loanTable {
    width: 100%;
    overflow: auto;
    height: 1000px;
}

.md-text.content {
    overflow: visible !important;
}

.month-table td,
.month-table th {
    border: 1px solid #ccc;
}

.month-table th {
    padding: 5px;
    
}

.month-table thead tr {
    background: #eee;

    visibility: hidden;
}

.month-table.only-header{
    margin-bottom: -69px;
    position: sticky;
    top: 0;
}
.month-table.only-header thead tr {
    visibility: visible;

}
.month-table.only-header tbody  {
    visibility: hidden;
}
.month-table.only-header td {
    border: none;
}


.green {
    color: green;
}

.month-table tr.active {
    background: yellow;
}
.month-table tr.ahead {
    background: skyblue;
}
.month-table td:nth-child(10),
.month-table td:nth-child(6) {
    color: hotpink;
}

.month-table td:nth-child(8),
.month-table td:nth-child(9),
.month-table td:nth-child(10),
.month-table td:nth-child(11) {
    /* background: #d2f3d2; */
    background: #e5f5e5;
}

.month-table tr.last-month {
    background: #eee;
}

#houseApp .advise-list {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 30px;
    background: #eee;
    line-height: 2;
    font-size: 16px;
}
.gotop-btn, .gobtm-btn {
    position: fixed;
    bottom: 70px;
    right: 10px;
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #ccc;
    color: #fff;
    transform: rotate(-90deg);
    font-family: serif;
    font-size: 30px;
}
.gobtm-btn {
    bottom: 20px;
}

.gotop-btn:hover, .gobtm-btn:hover {
    background: #ddd;
}


.advise-ttl {
    font-size: 20px;
    line-height: 1.5;
}

.tag {
    border: 1px solid #ccc;
    background: #fff;
    color: black;
    margin: 0 5px;
    padding: 3px 5px;
    border-radius: 3px;;
}

.advise-list i {
    color: #666;
}

/* ---------------- media query ----------------- */

@media screen and (max-width: 640px){
    .label {
        width: 110px;
        font-size: 14px;
    }

    input {
        width: 130px;
    }
}



@media screen and (max-width: 480px){
    .month-table td {
        font-size: 12px;
    }

    .md-text.content {
        padding: 0;
    }
}