<link rel="stylesheet" href="./study.css" />
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="./study.js"></script>

<!-- eruda debug -->
<!-- <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
<script>eruda.init();</script> -->

<!-- <script src="http://192.168.1.9:8080/target/target-script-min.js#anonymous"></script> -->

<div :class="'app ' + (this.isMobile ? 'mobile' : '')" id="app">
    <h1 style="margin-bottom: 0">词语认读</h1>
    <div class="font-bar mb-20 ta-r">
        <button :class="fontType === 1 ? 'primary' : ''" @click="fontType = 1">字体1</button>
        <button :class="fontType === 2 ? 'primary' : ''" @click="fontType = 2">字体2</button>
        <button :class="fontType === 3 ? 'primary' : ''" @click="fontType = 3">字体3</button>
        <button :class="fontType === 4 ? 'primary' : ''" @click="fontType = 4">字体4</button>
        <button :class="fontType === 5 ? 'primary' : ''" @click="fontType = 5">字体5</button>
        <label>
            title: <input  style="width: 150px" v-model="title" > <button class="filter-btn" @click="filterByTitle">过滤</button>
        </label>
        <label>
            <input type="checkbox" v-model="isRandom" @change="changeRandom"></checkbox>
            <span>是否随机</span>
        </label>
    </div>
    <section class="app-main multiple-container" :class="{'testing': isTestMode}">
        <button class="prev" @click="showPrev">&lt;</button>
        <button class="next" @click="showNext">&gt;</button>
        <div class="single m-auto">
            <ul class="card-list flex-row justify-center pos-r">
                <li v-for="(item, index) in wordList" :key="index" class="card-item-wrap">
                    <transition :name="isNext ? 'lfade' : 'rfade'">
                        <div class="card-item" v-show="index === activeIndex" :class="{'view-answer': index === activeIndex && isViewAnswer}" @click="handleClickCard(index)">
                            <div :class="'card-con flex1 font' + fontType" :style="fontStyle">
                                <span class="chr pos-r dis-ib" v-for="(chr, i) in item.word.split('')" :key="i">
                                    ${chr}
                                </span>
                            </div>
                        </div>
                    </transition>
                    
                </li>
            </ul>
            <p class="mt-30 ta-c">
                <i class="num f30">${activeIndex + 1} / ${wordList.length}</i>

            </p>
        </div>
    </section>
</div>

<script>
    const searchParams = new URLSearchParams(location.search)
    const isTest = ![null, '0', 'false'].includes(searchParams.get('test'))
    const cacheWordTitle = LCache.get('mwordTitle') || '';
    const cacheWordList = LCache.get('mwords') || [];
    window.myapp = new Vue({
        el: "#app",
        delimiters: ["${", "}"],
        data: {
            activeIndex: 0,
            isMobile: window.innerWidth < 800,
            isNext: true,
            isTestMode: isTest,
            isViewAnswer: false,
            isRandom: false,
            showCard: true,
            fontType: isTest ? 5 : LCache.get('fontType') || 2,
            newWord: "",
            wordList: cacheWordTitle ? cacheWordList.filter(item => item.title === cacheWordTitle) : cacheWordList,
            title: cacheWordTitle,
        },
        
        watch: {
            fontType() {
                LCache.set('fontType', this.fontType)
            },
        },
        computed: {
            fontStyle: function() {
                // word: {date, word}
                const word = this.wordList[this.activeIndex]
                if (!word) {
                    return {fontSize: '250px'}
                }
                const sizeMap = {
                    1: 330,
                    2: 330,
                    3: 330,
                    4: 250,
                    5: 200,
                    6: 160,
                    7: 130,
                }

                const mobileSizeMap = {
                    1: 180,
                    2: 120,
                    3: 90,
                    4: 120,
                    5: 60,
                    6: 90,
                    7: 90,
                }

                const map = this.isMobile ? mobileSizeMap : sizeMap
                const size = map[word.word.length] || 50
                return { fontSize: size + 'px'}
            }
        },
        methods: {
            
            filterByTitle() {
                const ttl = this.title.trim()
                LCache.set('mwordTitle', ttl);
                if (!ttl) {
                    this.wordList = this.orderedWordList.slice()
                } else {
                    this.wordList = this.wordList.filter(item => item.title === ttl);
                }
            },
            changeRandom(event) {
                if (this.isRandom) {
                    this.wordList = getShuffleList(this.wordList)
                } else {
                    this.wordList = this.orderedWordList;
                }
            },
            handleClickCard(index) {
                if (!index === this.activeIndex) return
                this.isViewAnswer = !this.isViewAnswer
            },
            showNext() {
                this.isNext = true
                if (this.activeIndex < this.wordList.length - 1) {
                    this.activeIndex++;
                } else {
                    this.activeIndex = 0;
                }
            },
            showPrev() {
                this.isNext = false
                if (this.activeIndex > 0) {
                    this.activeIndex--;
                } else {
                    this.activeIndex = this.wordList.length - 1;
                }
            },
            addWord() {
                if (this.newWord.trim()) {
                    const today = getTodayStr();
                    const word = this.newWord.trim();
                    this.wordList.push({ date: today, word });
                    this.newWord = "";

                    LCache.set("mwords", this.wordList);
                }
            },
        },
        mounted() {
            // alert(window.innerWidth + ', ' + document.documentElement.clientWidth)
            if (!this.wordList.length) {
                alert('请先增加词语')
                location.href = '/study'
            } else {
                this.orderedWordList = cacheWordList.slice()
                console.log("🚀 ~ mounted ~ cacheWordList:", cacheWordList)
            }
        }
    });
</script>
